@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Montez&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Mate SC", serif;
  box-sizing: border-box;
}